*{
	padding: 0;
	margin: 0;
}
body{
	background: url(images/c865fd654ea97aea97125b23ec6ea6b8.gif) no-repeat;
    background-size: cover;
	align-items: center;
	justify-content: center;
	display: flex;
	font-family: sans-serif;
}